Lab7/categoria.dtd

<!ELEMENT Department (Subdivision*)>
        <!ELEMENT Subdivision (Employees*)>
        <!ATTLIST Subdivision
                id ID #REQUIRED
                name CDATA #REQUIRED
                >
        <!ELEMENT Employees (#PCDATA)>
        <!ATTLIST Employees
                id ID #REQUIRED
                subdivisionId IDREF #REQUIRED
                name CDATA #REQUIRED
                surname CDATA #REQUIRED
                phone CDATA #REQUIRED
                >